.block{
    display: flex;
    height: 100px;
    width: 100px;
    color: aliceblue;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.block:hover{
    cursor: pointer;
}
.block:active{
    background-color: #333;
}
.container{
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    column-gap: 50px;
}